

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --white: #FFFFFF;
    --cream: #ebebeb;
    --indian-red: #E85F5C;
    --cambridge-blue: #70A288;
    --night: #141414;

}

* {
    font-family: 'Space Mono';
    color: var(--night)
}

body {
    background-color: var(--white);
}


/*  || BLOCKS */

header {
    
    height: 192px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.main { 
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.board {
    height: 500px;
    width: 500px;
    display: grid;
    

    border-style: solid;
    border-color: var(--night);
    
}

.settings {
    display: flex;
    flex-direction: column;
}

.btn {
    font-size: 24px;
    margin: 10px;
    width: 200px;
    border-radius: 3px;
    padding: 10px;
}

/*  ||  ELEMENT */

.btn__input {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    border-color: var(--night);
    background-color: var(--white);
    border-width: 2px;
    border-radius: 8px;
    box-sizing: border-box;
    height: 40px;
    padding: 0;
    
}

.header__h1 {
    font-size: 42px;
    margin: auto;
}



.board__cell {
    flex: 1 1 auto;
    background-color: var(--white);
    height: 100%;
    width: 100%;
   
    

}

.setting__input-area {
    display: flex;
    align-items: end;
    padding: 0;
    gap: 12px;
}


/*  || MODIFIER */






